@import './base.css';

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  padding: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.body-grid {
  display: grid;
  grid-template-areas:
    "menu sidebar header"
    "menu sidebar main";
  grid-template-columns: auto auto 1fr; /* menu 寬度固定，右側彈性填滿 */
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background: #f8f8f8;
}

.menu {
  grid-area: menu;
  background-color: rgb(240, 240, 240);
}

.sidebar {
  grid-area: sidebar;
  background-color: #fff;
  transition: width 0.3s ease;
  overflow: hidden;
}
.sidebar.open { width: 300px; }       /* 展開寬度 */
.sidebar.closed { width: 0; }         /* 收合為 0 */
.header  {
  grid-area: header;
  background: #dfd;
  padding: 0.5em;
}

.main {
  grid-area: main;
  position: relative;
}